<html ng-app="fichierPoliceJudiciaireApp">
<head>
    ...
    <script src="../angular/angular.js"></script>
    <script src="../js/controllers.js"></script>
</head>
<!--body ng-controller="PhoneListCtrl">

<ul>
    <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
</ul>

</body-->

<body ng-controller="listeDeVilains">

Search: <input ng-model="query">

<h1> Voici quelques vilains :</h1>

<ul>
    <li ng-repeat="vilain in vilains | filter:query">
        <span>{{vilain.prenom}} <b>{{vilain.nom}}</b></span>
        <p>{{vilain.delit}}</p>
    </li>
</ul>

Nom :    <input ng-model="nom"><br>
Prenom : <input ng-model="prenom"><br>
Delit :  <input ng-model="delit"><br>
<button ng-click="valider()" >Valider</button>


</body>


</html>